{% extends 'base.html' %}

{% block content %}
<div height = "100" width = "100">
    <canvas id="myChart" width="50" height="200"></canvas>
</div>
    <script>
        function newDate(days) {
	    	return moment().add(days, 'd').toDate();
    	}
        
        var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [newDate(-7), newDate(-6), newDate(-5), newDate(-4), newDate(-3), newDate(-2), newDate(-1)],
        datasets: [{
            label: 'Sentiment',
            data: [{% for x in sentiment %}  {{ x }}, {% endfor %} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>

    asdasdasdasd
{% endblock %}